.signin-title {
  margin: 0;
  color: #5a189a;
  font-family: 'bold';
  font-size: 35px;
  padding: 15px;
}

input,
button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

.sign-in {
  border: none;
  color: #fff;
  background-color: #5a189a;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 16px;
}

.sign-in-input-box-details {
  background-color: #fff;
  color: #fff;
  margin: 15px;
  box-shadow: 0 2px 10px #5a189a;
  border-radius: 10px;
  margin-right: -398px;
  margin-top: 25px;
  padding: 8px;
}

.forgot-password {
  font-size: 15px;
  display: flex;
  margin-left: 12px;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5a189a;
  font-family: 'script';
  font-size: 19px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 500px;
  margin-bottom: -408px;
  margin-top: 30px;
  padding: 146px;
  font-family: 'bold';
}

.sign-account {
  color: #5a189a;
}

.sign-input-box-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.main-sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  margin-left: 54px;
}

button:hover {
  background-color: #7d1dd1;
  transform: scale(1.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: #5a189a;
  font-size: 16px;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.signup-link:hover {
  text-decoration: underline;
}
