.lot-button {
  padding: 0.75rem 1.25rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bid-entry {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 12px;
}

.bid-entry input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
}

.bid-entry button {
  max-width: 180px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
git stash
git checkout main
git branch -D feat/signin-page
git checkout -b feat/signin-page
git cherry-pick 813df7546bbeec780c1dd992098ca7b24ca91b53