.product-card {
  background-color: #fff;
  border: 0.5px solid rgb(243, 240, 240);
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.product-details {
  font-family: 'semi-bold';
  font-size: 22px;
}

.time-left {
  color: red;
  font-size: 18px;
}

.product-name {
  color: darkblue;
}

.product-price {
  color: darkred;
  margin-top: 12px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 16px;
}

.price span::before {
  content: '◘ ';
  margin-right: 4px;
  color: #999;
}

.auction-title {
  font-family: 'bold';
  font-size: 40px;
  margin: 0px;
  padding: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  gap: 30px;
}

.registered-users-container {
  background-color: rgb(112, 2, 112);
  margin: 0px;
  padding: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.registerd-users {
  font-family: 'bold';
  text-decoration: underline;
}

.user-logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.user-list {
  list-style-type: none;
  margin-left: -40px;
}

.enter-bid-amount {
  min-width: 150px;
}

.submit {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'bold';
  font-size: 16px;
  background-color: #42023a;
  color: #fff;
  margin-left: 15px;
}

.bid-interaction {
  border: transparent;
}

select {
  border: none;
  background-color: #3c096c;
  padding: 10px 30px;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'bold';
  font-weight: 600;
}

select:focus {
  outline: auto;
}

option {
  font-family: 'bold';
  font-weight: 600;
}
