.login-button,
.create-account-button {
  min-width:125px;
  border: none;
  background-color: #5a1f8c;
  padding: 10px 20px;
  color: #fff;
  font-family: 'semi-bold';
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 3px;
  font-size:16px;
}

.login-button:hover,
.create-account:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
