.footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

.footer-about {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

.footer-content {
  font-size: 17px;
  font-family: 'Inconsolata';
  color: rgb(159, 159, 163);
  margin: 0;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 15px;
  font-family: 'Inconsolata';
  color: gray;
}

.footer-description {
  font-size: 16px;
  width: 100%;
  font-family: 'script';
  text-align: center;
  font-weight: bold;
}
