.footer-container {
  width: 100%;
  bottom: 0;
  background-color: #ac0395;
  margin-top: 129px;
  padding:20px;
}

.footer-about {
  color: cornsilk;
  font-weight: bold;
  text-decoration: none;
}

.footer-content {
  font-size: 17px;
  font-family: 'Inconsolata';
  color: cornsilk;
  margin: 0;
  font-weight: bold;
}

.footer-description {
  font-size: 16px;
  width: 100%;
  font-family: 'script';
  text-align: center;
  font-weight: bold;
  color: cornsilk;
}
